*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  background-color: #031a40;
}
.container {
  background-color: #031a40;
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.pageContainer {
  display: flex;
  background-color: #031a40;
}

.navigation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-bottom: 100px;
}
.header-logo {
  height: 200px;
  width: 500px;
}

.navigation__menu {
  width: 500px;
  font-weight: 900;
  font-size: 30px;
  color: #ffc300;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
}
.navigation__menu li {
  cursor: pointer;

  display: flex;
  align-items: center;
}
.menu__pokeball {
  width: 35px;
  height: 35px;
}
.card-container {
  display: flex;
  flex-direction: row;
  gap: 80px;
  justify-content: space-around;
  flex-wrap: wrap;
}
.poke-card {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 150px;
  height: 200px;
  align-items: center;
  background-image: url(../images/grass-background.png);
  border: 3px solid black;
  gap: 20px;
}

.pokemon-image {
  display: flex;
  position: relative;
  top: -30px;
  height: 200px;
  width: 200px;
}
.info-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.poke-card__info:after {
  opacity: 0;
  position: absolute;
  top: -190px;
  left: -60px;

  content: url("../images/poke-gif.gif");
}
.poke-card ul {
  color: #fff;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  list-style-type: none;
}

.poke-card__info {
  font-size: 16px;
  position: relative;
  top: -60px;
  font-weight: 900;
  color: #ffc300;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
.poke-card__button-container {
  position: relative;
  top: -80px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.button {
  border-radius: 10px;
  font-size: 10px;
  font-weight: 900;
  width: 80px;
  height: 20px;
  background-color: #fff;
  cursor: pointer;
  border: none;
  border: 2px solid black;
}
.button:hover {
  color: #fff;
  background-color: #ffc300;
}

.page-jump {
  border: 1px solid black;
  height: 100px;
}
